*
!.docs
!.docs/preview.png
!.gitignore
!README.md

# `fish` configuration files
!fish
!fish/config.fish
!fish/functions
!fish/functions/fish_greeting.fish

# `starship` configuration files
!starship.toml
